.container {
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr {
  border: 1px solid #ddd;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.button {
  background-color: #ff6666;
  color: white;
  border: none;
  width: 100%;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 0;
}

.button:hover {
  background-color: #ff0000;
}
